---
preloadCSS: '/assets/css/blog.css'
eleventyComputed:
    title: '{{ title }}'
    description: '{{ description }}'
    preloadImg: '{{ image }}'
    permalink: '/blog/{{ title | slug }}/index.html'
---

{% extends "layouts/base.html" %}

<style>
    body {background-color: white;}
</style>

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}


                          <DIV style="padding-top:160px">   <h1 class="cs-title" style="max-width:73rem; margin: auto; text-align: center; padding: 30px; margin-bottom: 30px;">{{ title }}</h1>
                           <!--Main Article Image-->
        
  <img style="margin:auto; display:block; width:100%; max-width: 1200px;" src="{{ image }}" alt="{{ imageAlt }}" decoding="async" /></DIV>


    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                  Blog Article                -->
            <!-- ============================================ -->

            <article class="blog-article" >

             
                <!--Article Info-->
                <div class="article-group" >
      
                </div>
                <section id="blog-content">
                    {{ content | safe }}
                </section>
            </article>
        </div>
        <!-- End .main-content -->


    </div>

    {% include 'components/cta.html' %}
    
{% endblock %}

